.logo-container {
  position: relative;
  max-height: 2rem;
  display: flex;
}
.logo-div {
  display: inline-block;
  width: 0.6rem;
  height: 2rem;
  background-image: linear-gradient(90deg, #ff8d4d, #f4494e);
  //   background-color:;
  margin-right: 0.8rem;
}
.logo-text {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
}
