.social-icons-block {
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
}
.social-link {
  margin-right: 2rem;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out;

  &:hover {
    margin-top: -0.2rem;
  }
}
.contact-icon-svg {
}
