$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  @media only screen and (max-width: 68.75em) {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  color: #000;
  box-sizing: border-box;
  background-color: #fff;
}

a {
  text-decoration: none;
  background-color: transparent;
  transition: color 0.2s ease-in-out;
  color: #5c5b66;
}
ul {
  list-style: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  @media only screen and (max-width: 120rem) {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.section-padding {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.section-intro {
  margin: 1rem 0;
  color: #0d0c22;
  font-size: 3.6rem;
  line-height: 3.6rem;
  font-weight: 700;
  text-align: left;
  text-transform: none;
}
.btn {
  height: 4.8rem;
  margin-right: 2.4rem;
  padding: 0 2.4rem;
  border-radius: 0.5rem;

  transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  border: 0.1rem solid rgba(255, 125, 89, 0.2);

  font-size: 1.6rem;
  line-height: 4.8rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    transform: translateY(-0.1rem);
  }
}
.btn-outline {
  background-color: #fff;
  color: #ff7d59;
  box-shadow: 0.6rem 0.6rem 3rem 0.4rem rgb(255 125 89 / 2%),
    0.3rem 0.3rem 1.5rem 0.2rem rgb(255 125 89 / 3%),
    0.2rem 0.2rem 0.8rem 0.1rem rgb(255 125 89 / 2%);
}
.btn-filled {
  background-image: linear-gradient(90deg, #ff8d4d, #f4494e);
  box-shadow: 0.1rem 0.1rem 0.8rem 0.1rem rgb(0 0 0 / 2%),
    0.3rem 0.3rem 1.5rem 0.2rem rgb(0 0 0 / 4%),
    0.6rem 0.6rem 2rem 0.4rem rgb(0 0 0 / 5%);
  color: #fff;

  &:hover {
    box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem rgb(0 0 0 / 2%),
      0.3rem 0.3rem 0.5rem 0.2rem rgb(0 0 0 / 4%),
      0.6rem 0.6rem 1rem 0.4rem rgb(0 0 0 / 5%);
    color: #fff;
  }
}
.external_link {
  color: #ff8d4d;
}
