.intro-container {
  display: flex;
  align-items: center;
  height: 70vh;
  @media only screen and (max-width: 37.5em) {
    flex-direction: column;
    height: 60vh;
  }
}
.info-container {
  flex: 2;
  h3 {
    margin-bottom: 1.5rem;
    font-size: 2.8rem;
  }
  h1 {
    font-size: 3.6rem;
  }
}
.social_icon_container {
  padding: 2.5rem 0 1rem 0;
}
.image-container {
  flex: 1.5;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 37.5em) {
    display: none;
  }
}
.image-wrapper {
  position: relative;
  height: 45rem;
  width: 45rem;
}
.btn__container {
  display: flex;
  margin-top: 4rem;
}
.scroll-more {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
