.intro-container {
  display: flex;
  align-items: center;
  height: 85vh;
}
.info-container {
  flex: 2;
  h3 {
    margin-bottom: 1.5rem;
    font-size: 2.8rem;
  }
  h1 {
    font-size: 36px;
  }
}
.image-container {
  flex: 1.5;
  height: 100%;
  position: relative;
}
.btn__container {
  display: flex;
}
