.section__projects {
  &--conatiner {
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  &--item {
    display: flex;
    margin-top: 4rem;

    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    @media only screen and (max-width: 56.25em) {
      height: 100%;
      flex-direction: column;
    }
    &:not(:last-child) {
      padding-bottom: 6rem;
    }
    h4 {
      margin: 1rem 0;
      color: #0d0c22;
      font-size: 2.2rem;
      line-height: 3.2rem;
      font-weight: 600;
    }
    &--tag {
      margin-top: -1rem;
      margin-bottom: 2rem;
      color: #a4a4a4;
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
    &--desc {
      flex: 0 0 50%;
      .roles-container {
        padding-left: 4rem;
        position: relative;
        &::before {
          content: "";
          display: inline-block;
          height: 2rem;
          width: 2rem;
          background-color: #777;
          position: absolute;
          border-radius: 1.6rem;
          left: -1.4rem;
          top: -0.1rem;
          @media only screen and (max-width: 56.25em) {
            left: -1.5rem;
            top: 0.3rem;
          }
          @media only screen and (max-width: 37.5em) {
            left: -1.35rem;
            top: 0.3rem;
          }
        }
      }
    }

    p {
      color: #5c5b66;
    }
    a {
      margin-top: auto;
      -webkit-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
      color: #0d0c22;
      font-weight: 600;
      text-decoration: none;
    }
    &--img {
      border-radius: 1.6rem;
      box-shadow: 0.2rem 0.2rem 1rem 0.1rem rgb(0 0 0 / 2%),
        0.4rem 0.4rem 2rem 0.1rem rgb(0 0 0 / 3%),
        0.7rem 0.7rem 0.4rem 0.3rem rgb(0 0 0 / 5%);
      opacity: 0.9;
      transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
      width: 100%;
      right: 0;
      top: 0;

      &--2 {
        height: 25rem !important;
        @media only screen and (max-width: 56.25em) {
          height: 35rem !important;
          width: 100% !important;
          margin-top: 6rem;
        }
      }

      &--container {
        flex: 0 0 50%;
        text-align: right;
        position: relative;

        &--1 {
          height: 55rem;
        }

        @media only screen and (max-width: 56.25em) {
          flex: none;
          height: 55rem;
          width: 100%;
          margin-top: 6rem;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &--wrapper {
        position: relative;
        height: 100%;
        width: 80%;
        float: right;

        @media only screen and (max-width: 56.25em) {
          width: 70%;
          float: none;
        }
      }
    }
  }
}
.experience-container {
  display: flex;
  margin-top: 2rem;
}

.timeline {
  width: 2rem !important;
  background-color: #5c5b66;
  border-radius: 1.5rem;
  margin-top: 0.7rem;
  @media only screen and (max-width: 56.25em) {
    width: 1.5rem;
  }
}
