.contact-container {
  display: flex;
  margin-top: 6rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  @media only screen and (max-width: 56.25em) {
    flex-direction: column;
    .contact-text-icons {
      display: none;
    }
  }
}
.contact-text {
  flex: 0 0 50%;
  p {
    max-width: 42rem;
    color: #0d0c22;
    font-size: 1.8rem;
    line-height: 3rem;
  }
  .subtext-contact {
    margin-top: 6rem;
    padding-bottom: 0.2rem;
    color: #a4a4a4;
    font-size: 1.4rem;
    line-height: 2.3rem;
  }
  .email-link-container {
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    color: #0d0c22;
    a {
      -webkit-transition: opacity 0.2s ease-in-out,
        -webkit-transform 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out,
        -webkit-transform 0.2s ease-in-out;
      color: #0d0c22;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.contact-form {
  flex: 0 0 50%;
  text-align: right;
  .contact-form-container {
    display: block;

    flex-direction: column;

    align-items: flex-end;
    text-align: right;
    @media only screen and (max-width: 56.25em) {
      margin-top: 4rem;
    }
  }
  .contact-form-main {
    margin: 0 0 1.5rem;
  }
  form {
    display: block;
    margin-top: 0em;
  }
  h5 {
    margin: 1rem 0;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 700;
    display: none;
    color: #5c5b66;
    @media only screen and (max-width: 56.25em) {
      display: block;
      text-align: left;
      margin-bottom: 2rem;
    }
  }
  input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2.4rem;
    margin-left: auto;
    padding: 2.4rem 2rem;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    color: #5c5b66;
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-align: left;
  }
  textarea {
    width: 100%;
    min-height: 12.8rem;
    margin-bottom: 2.4rem;
    margin-left: auto;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border: 0.3rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    color: #5c5b66;
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-align: left;
    font: inherit;
  }
  button {
    height: 4.8rem;
    margin-top: 4rem;
    padding: 0 2.4rem;
    border-radius: 0.5rem;
    background-color: #fff;
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#ff8d4d),
      to(#f4494e)
    );
    border-color: #ff8d4d;
    background-image: linear-gradient(90deg, #ff8d4d, #f4494e);
    box-shadow: 0.1rem 0.1rem 0.8rem 0.1rem rgb(0 0 0 / 2%),
      0.3rem 0.3rem 1.5rem 0.2rem rgb(0 0 0 / 4%),
      0.6rem 0.6rem 2rem 0.4rem rgb(0 0 0 / 5%);

    transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
    color: #fff;
    font-size: 1.6rem;
    line-height: 4.8rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem rgb(0 0 0 / 2%),
        0.2rem 0.2rem 1rem 0.2rem rgb(0 0 0 / 4%),
        0.3rem 0.3rem 1rem 0.4rem rgb(0 0 0 / 5%);
      transform: translateY(-0.1rem);
    }
    @media only screen and (max-width: 56.25em) {
      width: 100%;
      margin-top: 2rem;
      height: 5.8rem;
      margin-bottom: 4rem;
    }
  }
}
.social-icons-div {
  span {
    color: #5c5b66;
    font-size: 1.6rem;
  }
}

.contact-form-icons {
  @media only screen and (min-width: 56.25em) {
    display: none;
  }
}
