.footer {
  background-color: #f9f9f9;
  cursor: default;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.logo-footer-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .logo-container {
    width: 100%;
    max-height: 60px;
    position: relative;
  }
  p {
    margin-top: 10px;
    margin-left: 10px;
    color: #6e6d7a;
    font-size: 18px;
    line-height: 24px;
    cursor: default;
  }
}

.footer__text {
  align-self: auto;
  color: hsla(0, 0%, 100%, 0.4);
  flex: 0 0 50%;
}

.footer__copyright {
  flex: 0 0 50%;
  p {
    margin-top: 10px;
    color: #6e6d7a;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
  }
}
